/* VERSION 4 */
@import "tailwindcss";

@theme {
    /* https://tailwindcss.com/docs/box-shadow */
    /* shadow-(<custom-property>) | box-shadow: var(<custom-property>); */
    --shadow-border-red: 0 0 2rem 1rem rgba(255, 0, 0, 0.4);
}

html,
body {
    background-color: black;
}

.markdown-content pre {
    white-space: pre-wrap !important;
    /* Preserve formatting but allow wrapping */
    word-wrap: break-word !important;
    /* Wrap long words */
    overflow-wrap: break-word !important;
    overflow-x: auto;
    /* Allow horizontal scrolling if necessary */
    padding: 8px;
    background-color: #f3f3f3;
    /* Light gray background */
    border-radius: 4px;
}

.markdown-content code {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}
